# **Create a dataset**
- pub_affauth_eu.csv
- pub_affinst_eu.csv

In [1]:
import pandas as pd
affauth = pd.read_csv('pub_affauth_eu.csv')
affauth

               pubid  pubyear  author_id_te  addr_num EU_NUTS_ID
0          1908819.0     2000    19062052.0       1.0      NL333
1          1908819.0     2000    33803059.0       1.0      NL333
2          1908819.0     2000    42182407.0       1.0      NL333
3          1908821.0     2000    10735688.0       1.0      UKM21
4          1908823.0     2000    14745379.0       1.0      ITI21
...              ...      ...           ...       ...        ...
55747583  46608438.0     2021    27124881.0       5.0      FR101
55747584  46608438.0     2021     7521118.0       6.0      FR101
55747585  46608438.0     2021    42533708.0       7.0      FR431
55747586  46608438.0     2021    42533708.0       8.0      FR431
55747587  46608438.0     2021     9879437.0       9.0      FR101

[55747588 rows x 5 columns]

In [2]:
# count the number of unique author_id_te 
affauth['author_id_te'].nunique()

10841411

In [3]:
# Group by 'author_id_te' and count the number of unique EU_NUTS_IDs
author_region_counts = affauth.groupby('author_id_te')['EU_NUTS_ID'].nunique()

# Filter for authors associated with more than one region
authors_with_multiple_regions = author_region_counts[author_region_counts > 1]

# Get the count of such authors
num_authors_with_multiple_regions = len(authors_with_multiple_regions)

print(f"Number of authors associated with multiple EU_NUTS_IDs: {num_authors_with_multiple_regions}")

Number of authors associated with multiple EU_NUTS_IDs: 2279293

In [4]:
2279293 / 10841411

0.21023951587113524

In [23]:
publication = pd.read_csv('eu_pub_prox_publication.csv')
# drop pubyear, source column 
publication = publication.drop(columns=['pubyear', 'source'])
publication

C:\Users\user\AppData\Local\Temp\ipykernel_29124\1356080719.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  publication = pd.read_csv('eu_pub_prox_publication.csv')

,pubid,abstract,itemtitle
0,2.0,\r\n<p>Applications to release genetically mod...,Environmental risks from the release of geneti...
1,3.0,\r\n<p>A vector system was developed employing...,The construction of recA-deficient Rhizobium m...
2,4.0,\r\n<p>The use of DNA fingerprinting to identi...,DNA fingerprinting in clonal organisms
3,5.0,\r\n<p>Mitochondrial DNA (mtDNA) from 25 blue ...,Unusual mitochondrial DNA polymorphism in two ...
4,7.0,\r\n<p>Males of the bushcricket Poecilimon vel...,Last-male sperm precedence in the bushcricket ...
...,...,...,...
11033600,55560571.0,\r\n<p>Rocks of Courceyan to Brigantian age ar...,BIOSTRATIGRAPHY OF DINANTIAN LIMESTONES AND AS...
11033601,55560572.0,\r\n<p>Arundian mudbank complexes at Pollower ...,ARUNDIAN (DINANTIAN) CARBONATE MUDBANKS IN NOR...
11033602,55560609.0,\r\n<p>The spatial structure and temporal evol...,MULTICHANNEL FLUCTUATION DATA-ANALYSIS BY THE ...
11033603,55560611.0,\r\n<p>The expected performance of the Ignitor...,EFFECTS OF SAWTOOTH ACTIVITY IN IGNITER
11033604,55560658.0,\r\n<p>High-resolution radio continuum observa...,HIGH-RESOLUTION 43-GHZ OBSERVATIONS OF THE GAL...

In [26]:
subjects = pd.read_csv('eu_pub_prox_subjects.csv')

# drop pubyear 
subjects = subjects.drop(columns=['pubyear'])
subjects

               pubid     ascatype                           subject
0                2.0  traditional  Biochemistry & Molecular Biology
1                2.0  traditional                           Ecology
2                2.0  traditional              Evolutionary Biology
3                2.0     extended  Biochemistry & Molecular Biology
4                2.0     extended  Environmental Sciences & Ecology
...              ...          ...                               ...
35565628  55560609.0     extended                           Physics
35565629  55560611.0  traditional         Physics, Fluids & Plasmas
35565630  55560611.0     extended                           Physics
35565631  55560658.0  traditional          Astronomy & Astrophysics
35565632  55560658.0     extended          Astronomy & Astrophysics

[35565633 rows x 3 columns]

In [ ]:
publication

In [24]:
df = pd.merge(affauth, publication, on='pubid', how='left')
df

,pubid,pubyear,author_id_te,addr_num,EU_NUTS_ID,abstract,itemtitle
0,1908819.0,2000,19062052.0,1.0,NL333,\r\n<p>The present paper offers a comprehensiv...,Stress concentrations in tubular gap K-joints:...
1,1908819.0,2000,33803059.0,1.0,NL333,\r\n<p>The present paper offers a comprehensiv...,Stress concentrations in tubular gap K-joints:...
2,1908819.0,2000,42182407.0,1.0,NL333,\r\n<p>The present paper offers a comprehensiv...,Stress concentrations in tubular gap K-joints:...
3,1908821.0,2000,10735688.0,1.0,UKM21,\r\n<p>This paper presents two new approximate...,Approximate dynamic analysis of space trusses
4,1908823.0,2000,14745379.0,1.0,ITI21,\r\n<p>With special reference to the role of t...,Non-Gaussian along-wind response analysis in t...
...,...,...,...,...,...,...,...
55747583,46608438.0,2021,27124881.0,5.0,FR101,\r\n<p>Objective To test the impact of inflamm...,Inflammation of the Sacroiliac Joints and Spin...
55747584,46608438.0,2021,7521118.0,6.0,FR101,\r\n<p>Objective To test the impact of inflamm...,Inflammation of the Sacroiliac Joints and Spin...
55747585,46608438.0,2021,42533708.0,7.0,FR431,\r\n<p>Objective To test the impact of inflamm...,Inflammation of the Sacroiliac Joints and Spin...
55747586,46608438.0,2021,42533708.0,8.0,FR431,\r\n<p>Objective To test the impact of inflamm...,Inflammation of the Sacroiliac Joints and Spin...
55747587,46608438.0,2021,9879437.0,9.0,FR101,\r\n<p>Objective To test the impact of inflamm...,Inflammation of the Sacroiliac Joints and Spin...

In [30]:
# group by pubyear and EU_NUTS_ID and count the number of unique pubid
df.groupby(['pubyear', 'EU_NUTS_ID'])['pubid'].nunique().sort_index()

pubyear  EU_NUTS_ID
2000     AT111          1
         AT112          8
         AT113          4
         AT121         10
         AT122         13
                       ..
2022     UKM63          8
         UKN01         42
         UKN02          4
         UKN03          3
         UKN04          7
Name: pubid, Length: 30704, dtype: int64

In [29]:
# check the number of unique pubid for each pubyear
df.groupby('pubyear')['pubid'].nunique().sort_index()

pubyear
2000    281163
2001    283183
2002    284335
2003    291954
2004    301536
2005    312048
2006    328168
2007    349233
2008    364407
2009    372445
2010    386176
2011    453469
2012    472901
2013    496512
2014    500520
2015    514727
2016    530416
2017    540196
2018    551802
2019    569131
2020    621721
2021    677744
2022      8843
Name: pubid, dtype: int64

In [ ]:
# create 'period' column 
def assign_period(pubyear):
    if 2000 <= pubyear <= 1985:
        return 1
    elif 1986 <= pubyear <= 1990:
        return 2 
    elif 1991 <= pubyear <= 1995:
        return 3 
    elif 1996 <= pubyear <= 2000:
        return 4
    elif 2001 <= pubyear <= 2005:
        return 5
    elif 2006 <= pubyear <= 2010:
        return 6
    elif 2011 <= pubyear <= 2015:
        return 7
    elif 2016 <= pubyear <= 2020:
        return 8
    else:
        return 0 
    
df['period'] = df['pubyear'].apply(assign_period)
df.head()